#banner {
    width:100%;
    overflow: hidden;
}
#banner .intro {
    background: url('../img/test/intro_banner.jpg') no-repeat center;
    height:93px;
}

#left {
    border-right: 1px solid #eee;
    float: left;
    padding: 23px 23px 43px 0;
    width: 794px;
}

#right {
    border-left: 1px solid #eee;
    float: right;
    margin-left: -1px;
    padding: 23px 0 43px 22px;
    width: 300px;
}


#right > a {
    display: block;
    margin-bottom: 10px;
}
